@model BookViewModel

@{
	ViewBag.Title = "Details";
}

<section id="portfolio-details" class="portfolio-details">
	<div class="container">

		<div class="row gy-4">

			<div class="col-lg-8" style="width: 40rem; margin: 5px;">
				<div class="portfolio-details-slider swiper">
					<div class="swiper-wrapper align-items-center">
						<div class="swiper-slide">
							@if(Model.ImageUrl != null){
								<img src="~/img/bookcovers/@Model.ImageUrl" alt="Book Image" asp-append-version="true">
							}else{
								<img src="~/img/bookcovers/NoImgAvaliable.png" alt="Book Image" asp-append-version="true">
							}
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="portfolio-info">
					<h3>Book Details:</h3>
					<ul>
						<li><strong>Publisher: </strong>@Model.Publisher</li>
						<li><strong>Category: </strong>@Model.Category</li>
						<li><strong>Download: </strong> <a href="#">www.example.com</a></li>
					</ul>
				</div>
				<div class="portfolio-description">
					<h2>Book Desctiption:</h2>
					@if (Model.SanitizedDescription != "" && Model.SanitizedDescription != null)
					{
						<div class="col-lg-12">
							<div class="card mb-4">
								<div class="card-body">
									<p>@Html.Raw(Model.SanitizedDescription)</p>
								</div>
							</div>
						</div>
					}
				</div>
				<div>
					<form class="input-group-sm" asp-controller="Books" asp-action="AddToFinished" asp-route-bookId="@Model.Id">
						<input type="submit" value="Add To Finished Books" class="fs-6 btn btn-success mb-3 p-2" />
					</form>
					@if (ViewBag.IsInFavorites == true)
					{
					<form class="input-group-sm" asp-controller="Books" asp-action="RemoveFromCollection" asp-route-bookId="@Model.Id">
						<input type="submit" value="Remove From Favorites" class="fs-6 btn btn-success mb-3 p-2" />
					</form>
					}
					else
					{
					<form class="input-group-sm" asp-controller="Books" asp-action="AddToCollection" asp-route-bookId="@Model.Id">
						<input type="submit" value="Add To Favorites" class="fs-6 btn btn-success mb-3 p-2" />
					</form>
					}
				</div>
			</div>

		</div>

	</div>
</section>